extends partials/mainLayout

block content
  
  - var url = 'http://www.pixeden.com/html-css/tenue-css3-text-effect';

  header.pe-header
    .pe-container 
      a(href="http://pixeden.com/")
        img.pe-logo(src="assets/img/logo.png",alt="logo")
      a(href="#{url}").pe-btn.btn-download Download

  section.pe-playground
    .pe-texture
      h1.tenue-shadow.tenue-extras
        sub T
        sup e
        sub n
        sub u
        sup e
      .tenue-overlay
        
    .pe-container  
      .pe-details
        h3#intro
          a(href="#intro") Tenue CSS Text Effect
        p  This is a subtle css 
          code text-shadow
          |  based effect inspired by this Photoshop 
          a(href="http://www.pixeden.com/photoshop-text-effects/tenue-psd-text-effect") version
          | .
        p The effect creates a very elegant and stunning result with a mix of shadows and light. You can use your own text with ease and edit the effect to make it your own.
        
        h3#usage
          a(href="#usage") Usage &amp; customization
        p Just add the 
          code pe-tenue.css
          |  file to your project and use the 
          code tenue-shadow
          |  class to apply the default effect on each elements according to your needs.
        p The effect was created especially with the idea that you can create your own style and effect with ease using the  
          code tenue-shadow()
          |  Sass function.
          br
          | To create a new effect compile the 
          code sass/
          |  folder after achieving the desired effect adjusting the different function arguments in the file
          code _objects.scss
          |  .
          br
          | If you're not familiar with Sass you can still create your own custom version of the Tenue effect. 
          br
          | Using  
          a(href="http://codepen.io/elrumordelaluz/pen/44612744872264ba0b0f9c79b9b108bc/?editors=110").pe-btn.pe-btn-i this codepen
          |  adjust the different function arguments until satisfied. Then press the button "view compiled" on the SCSS section to obtain the plain CSS code. Copy paste this code into your project CSS file.
          
        h3#video-tutorial
          a(href="#video-tutorial") Video tutorial
        .pe-video
          iframe(width="960",height="720",src="https://www.youtube.com/embed/OH7Ip2QWTzY?rel=0&amp;showinfo=0",frameborder="0",allowfullscreen)
        
        h3#function 
          a(href="#function") Function arguments
        pre
          code .tenue-shadow {
            |     text-shadow: tenue-shadow(
            |       $steps: 70,               // [1]
            |       $ratio: .0034,            // [2]
            |       $op: .75,                 // [3]
            |       $angle: -133deg,          // [4]
            |       $color: #000,             // [5]
            |       $bg: white                // [6]
            |     );
            | }

        p 
          ol
            li
              strong Steps 
              | max 128, high numbers negatively impacts performance 
              code [default: 70]
              |  
              code [unitless]
            li Magic fraction to control 
              strong space between 
              | shadow steps 
              code [default: .005]
              |  
              code [unitless]
            li 
              strong Opacity 
              | applied to each shadow step.
              code [default: .85]
              |  
              code [unitless]
            li 
              strong Angle 
              | calculated to generate the x and y axes.
              code [default: -133deg]
              |  
              code [deg]
            li 
              strong Starter color 
              | (usually the same or similar as the text `color` value).
              code [default: #000]
              |  
              code [valid color value]
            li 
              strong Color to which the shadows blend
              | (usually the same as the `background-color` value) 
              code [default:null]
              |  
              code [valid color value]
        h3#perf
          a(href="#perf") Performance TIPS
        p To get a fluid scrolling and a better browser performance we advise to use a low amount of 
          code steps
          | .
          br
          | Moreover we use a pattern background in our example using a  
          code mix-blend-mode
          | . It does however impact browser performance negatively. For a smoother experience you decide to not use a pattern.
        h3#compat
          a(href="#compat") Compatibility
        p With an advanced effect like this some visual differences between browsers will arise. You need to understand that this technique has some limits and we advise you to test it before shipping.
        
        h3#examples
          a(href="#examples") Some examples
        p(data-height="468",data-theme-id="16663",data-slug-hash="099c5a5c26199c3ae75d25e9eeeb571e",data-default-tab="result",data-user="elrumordelaluz").codepen.mb1
          a(href="http://codepen.io/elrumordelaluz/pen/099c5a5c26199c3ae75d25e9eeeb571e?editors=110") View/edit this pen
        .pe-detail This is the same result of the 
          a(href="#video-tutorial") video tutorial
          | . In this pen we changed the color and angle. We also created a new rule for a 
          code span
          |  elements to quickly create a different effect that can be used in the same page.
        p(data-height="226",data-theme-id="16663",data-slug-hash="e950790c36625d7d88a611571b562aa7",data-default-tab="result",data-user="elrumordelaluz").codepen
          a(href="http://codepen.io/elrumordelaluz/pen/e950790c36625d7d88a611571b562aa7?editors=110") View/edit this pen
        .pe-detail In this example we use only 10 
          code $steps
          |  and a higher 
          code $ratio
          |  to augment the distance between steps and generate this neon-like effect.
        p(data-height="226",data-theme-id="16663",data-slug-hash="2b9cac778ab6d24c906510531553f2f6",data-default-tab="result",data-user="elrumordelaluz").codepen
          a(href="http://codepen.io/elrumordelaluz/pen/2b9cac778ab6d24c906510531553f2f6?editors=110") View/edit this pen
        .pe-detail Using the same color for the text and background we created this subtle effect, using 
          code 0deg
          |  for the 
          code $angle
          | , and a lower 
          code $op
          |  (opacity).
        script(async,src="//assets.codepen.io/assets/embed/ei.js")

      p.u-tac.u-color-w
        a(href="#{url}").pe-btn.pe-btn-lg.btn-download.u-flr.u-mt1 Download
      p.u-tac
        a(href="http://twitter.com/intent/tweet?url=#{url}&text=Tenue :: subtle CSS3 text-shadow effect&via=Pixeden&related=yarrcat", target="_blank").pe-icon-btn.twitter-icon
          svg
            use(xlink:href='assets/img/symbols.svg#icon-twitter')
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        a(href="https://github.com/Pixeden/tenue-css3-text-effect").pe-icon-btn.github-icon
          svg
            use(xlink:href='assets/img/symbols.svg#icon-github')
  
  footer.pe-footer
    p Tenue CSS text-shadow effect v.1.0.0 &copy; 2015 
      a(href="http://pixeden.com/") Pixeden

block scripts
  script.
    var isOpera = !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;
    var isFirefox = typeof InstallTrigger !== 'undefined';
    var isSafari = Object.prototype.toString.call(window.HTMLElement).indexOf('Constructor') > 0;
    var isChrome = !!window.chrome && !isOpera;
    var isIE = /*@cc_on!@*/false || !!document.documentMode;
    
    if(isFirefox || isIE) {
      document.querySelector('.tenue-overlay').classList.add('u-dn');
    }

        
