doctype
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(charset='UTF-8')
    title Tenue :: CSS text effect by Pixeden
    link(rel='icon', type='image/png', sizes='32x32', href='img/favicon.png') 
    //- Pixeden playground styles
    link(rel='stylesheet', href='assets/css/pe-playground.css')
    //- Specific CSS
    link(rel='stylesheet', href='assets/css/pe-tenue.css')
  body

    block content
    
    //- script(type='text/javascript', src='assets/js/main.js')
    block scripts


